/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 80%;
  margin: 2% 10%;
  height: 200vh;
  background-image: url("../images/bg-board.jpg");
  background-color: #121212;
  background-repeat: no-repeat;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__link {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding-bottom: 3px;
  margin-left: 1rem;
  color: white;
  border-bottom: 1px solid white transparent;
}

.navbar__link a:hover {
  border-bottom: 1px solid white;
}

header {
  position: relative;
  color: white;
}

.introarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/assets/images/bg:board.jpg");
}

.introarea h1 {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 30px;
}

.introarea p {
  font-size: large;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

.introarea-title {
  margin-bottom: 40px;
}

.post-part {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
}

.post-part section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  background-color: #505050;
  border-radius: 10px;
  margin: auto;
}

.post-part section hr {
  width: 70%;
}

.board-title {
  width: 400px;
  height: 40px;
  font-size: 20px;
  margin: 20px auto 10px auto;
  line-height: 50px;
  border-radius: 10px;
  border: none;
  background: none;
  color: white;
}

.board-content {
  color: white;
  background: none;
  border: none;
}

.pop-head {
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

.board-content,
.pop-reply {
  width: 400px;
  height: 150px;
  font-size: 18px;
  margin: 10px 50px;
  text-decoration: none;
  outline: none;
  border-radius: 10px;
  resize: none;
}

.board-btn,
.pop-btn {
  height: 40px;
  margin: 10px auto;
  border-radius: 10px;
  font-size: 20px;
  padding: 0 20px;
  color: white;
  background: #bababa;
  text-decoration: none;
  cursor: pointer;
}

.msg-area {
  width: 80%;
  margin: 10px auto;
}

.msg-area li {
  list-style: none;
  width: 80%;
  font-size: 22px;
  margin: 15px 30px;
}

.msg-area li hr {
  width: 95%;
  margin: auto;
}

.message-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 6%;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

.message-title {
  width: 500px;
  line-height: 50px;
  display: block;
  background: #121212;
  font-size: 20px;
  margin: 10px 15px;
  border-radius: 8px;
  text-indent: 15px;
}

.message-comment,
.reply p {
  width: 500px;
  line-height: 50px;
  display: block;
  background: #121212;
  font-size: 20px;
  margin: 10px 15px;
  border-radius: 8px;
  text-indent: 15px;
}

.answer {
  width: 60px;
  height: 30px;
  display: block;
  margin-left: auto;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
  background: #505050;
  color: white;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(117, 117, 117, 0.3);
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.pop-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 20px;
}

.pop-reply p {
  margin-bottom: 10px 0;
  text-align: left;
}
/*# sourceMappingURL=board.style.css.map */