/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 80%;
  margin: 2% 10%;
  height: 200vh;
  background-image: url("../images/bg-board.jpg");
  background-color: #121212;
  background-repeat: no-repeat;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__link {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding-bottom: 3px;
  margin-left: 1rem;
  color: white;
  border-bottom: 1px solid white transparent;
}

.navbar__link a:hover {
  border-bottom: 1px solid white;
}

header {
  position: relative;
  color: white;
}

.introarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("/assets/images/bg:board.jpg");
}

.introarea h1 {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 30px;
}

.introarea p {
  font-size: large;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

.introarea-title {
  margin-bottom: 40px;
}

.introarea-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.introarea-comment__input {
  width: 60%;
  height: 30vh;
  border-radius: 10px;
  background-color: #404040;
}

.introarea-comment__input input:hover {
  border-bottom: 1px solid #bababa;
}

.introarea-comment__input__title, .introarea-comment__input__content {
  margin: 4% 10% 1% 10%;
  cursor: text;
  background: none;
  border: none;
  border-bottom: 1px solid #bababa transparent;
}

.introarea-comment__input__title {
  font-size: x-large;
}

.introarea-comment__input__content {
  font-size: large;
}

.introarea-comment__input hr {
  width: 80%;
}
/*# sourceMappingURL=board.style.css.map */